<header class="header" id="topHeader">
<div class="backCover"></div>
 <nav class="hamburguer">
    <a href="https://adalab.es/bootcamps-online/?utm_term=adalab&utm_campaign=Adalab_Search_Marca&utm_source=adwords&utm_medium=ppc&hsa_acc=5177828897&hsa_cam=20252484154&hsa_grp=149341856065&hsa_ad=661007586687&hsa_src=g&hsa_tgt=kwd-320586140105&hsa_kw=adalab&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQiAyeWrBhDDARIsAGP1mWRVMXsMAE0kor4shBOEHazvEJ6gC46UcSEeRQYsevvPKSrZg7HEqpMaAs7_EALw_wcB">
    <img src="../images/ico-menu.svg" alt="menu de la web"/>
</a>
 </nav>
 <section class="words">
    <h1 class="discount">Hasta un 50% de descuento</h1>
    <h2 class="end">Ya están aquí las ofertas de fin de temporada</h2>
    <div class="scrollDown">
        <a class="icoScroll" href= "../index.html#newYear"><img src="../images/ico-scroll-down.svg" alt="scroll"/></a>
    </div>
</section>   
</header>
